<configuration>  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </encoder>  
    </appender>  

    <logger name="org.mybatis.spring.SqlSessionTemplate" level="DEBUG"/>  
    <logger name="org.mybatis.spring.mapper.MapperScannerConfigurer" level="DEBUG"/>  
    <logger name="com.example.mapper" level="DEBUG"/> <!-- 你的 Mapper 接口所在的包 -->  

    <root level="INFO">  
        <appender-ref ref="STDOUT"/>  
    </root>  
</configuration>