<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.example.mapper.UserMapper">  
  
    <select id="selectUsersByCondition" resultType="com.example.dto.user.UserDto" parameterType="com.example.dto.user.UserListSearchDto">  
        SELECT * FROM users where user_name like concat('%',#{user_name},'%') limit #{page},#{perPage}
    </select>  
  
    <select id="selectUsersByConditionCount" resultType="int" parameterType="com.example.dto.user.UserListSearchDto">  
        SELECT count(1) count FROM users where user_name like concat('%',#{user_name},'%')
    </select>  
  
</mapper>