.main-view {
  width: 1000px;
  padding: 20px 30px;
  margin: auto;
  .main-title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 15px;
    tr {
      height: 30px;
      th{
        background: #68a7ff;
        color: #fff;
        text-align: left;
        padding:0 10px;
      }
      td {
        padding: 5px 10px;
      }
    }
  }
  .ul-box {
    margin-top: 5px;
    li {
      line-height: 25px;
    }
  }
}
.modal-footer{
  // display: flex;
  // justify-content: flex-end;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
}
.btn {
  padding: 0 10px !important;
}