table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  tr {
    height: 30px;
    th {
      background: #68a7ff;
      color: #fff;
      text-align: left;
      padding-left: 10px;
    }
    td {
      padding: 5px 6px;
    }
  }
}